/* Para eliminar estilos que coloca el navegador */
body {
    margin: 0px;
}

/* Ninguna lista ul tenga bullets */

ul {
    list-style: none;
    padding: 0px; /* Para eliminar estilo que coloca el navegador */
    margin: 0px; /* Para eliminar estilo que coloca el navegador */
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.logo {
    height: 50px;
}

.button {
    border: 0px;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bolder;
}

.button:hover {
    cursor: pointer; /* para que aparezca la mano del mouse al pasarla por encima del botón */
    transform: scale(1.1); /* escalar al 1.1, es decir, agrandar 10 % */
}

.mainButton {
    background-color: mediumseagreen;
    color: white;
}

.mainButton:hover {
    box-shadow: 1px 1px green; /* sombra verde 1px hacia abajo y hacia la derecha */
}

.secondaryButton {
    background-color: darkblue;
    color: white;
}

.secondaryButton:hover {
    box-shadow: 1px 1px cyan;
}

.buscar {
    background-color: white;
    border: 1px solid gray;
    border-radius: 8px;
    padding: 4px;
}

.buscar:focus-within { /* cambiar cuando se hace focus adentro del elemento */
    border: 1px solid blue;
}

.buscar > input {
    border: none; /* borde normal */
    outline: none; /* borde cuando está en focus */
}